/*ruy set*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*{
    box-sizing: border-box;
    text-decoration: none;
}
#main {
  width: 100%;
  background: radial-gradient(46.81% 60.97% at 50% 49.95%, #0668C1 14.45%, #000000 100%);
  
  
  
  left: 0;
  right: 0;
  height: 1000%;
  top: 0;
position: absolute;
  bottom: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    margin-top: 29px;
    
    
  
}

.nav h1 a {
  color: aliceblue;
  font-size: 12px;
}
.nav h1 {
  width: 20%;
  height: 30px;
  background-color: #FE6B02;
line-height: 30px;
border-radius: 12px;


}
.nav p a {
  color: #fff;
  
}
.nav p {
  font-size: 12px;
  justify-content: center;
  width: 20%;

  text-align: center;

  
}
.nav {
  width: 30%;
  display: flex;
justify-content: space-between;
  align-items: center;
  
  text-align: center;
  
}
/* .sleider { */
  


/* } */
.center {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  
  
}
.centerh h1 {
  text-align: center;
  padding-left: 320px;
}
.centerh {
  position: relative;
height: 100%;
  width: 100%;
  position: absolute;
text-align: center;
  display: flex;
  font-size: 135px;
  top: 135px;
  line-height: 50%px;
  color: #fff;
}
.centerth {
  max-width: 100%;
  min-height: 100%;
  width: 200px;
  position: absolute;
  top: 10px;
  left: 340px;
}
.centerfor {
  
  left: 260px;
  align-items: center;
  display: flex;
  position: absolute;
  top: 300px;
}
.centerfor h1 {
  font-size: 74px;
  width: 100%;
  height: 100%;
  color: #FE6B02;
  padding: 0px 30px;
}
.centerfi p {
  padding: 10px 0px;
}
.centerfi   {
  width: 20%;
  height: 100%;
  position: absolute;
  justify-content: space-between;
  top: 300px;
  right: 200px;
  color: #fff;
  align-items: center;
  font-size: 32px;
  
}
.centers {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-height: 100%;

}
.contenr h1 {
  font-size: 52px;
  align-items: center;

}
.contenr {
  width: 100%;
  height: 57px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  
}
.contenrner { 
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 200px;
  position: relative;
  
}
.homeone:hover {
  background-color: #0668C1;
  
}
.homeone p {
color: #fff;
font-size: 16px;
padding-bottom: 24px;
}
.homeone h1 {
color: #fff;
font-size: 32px;
padding: 16px 0px;
}


.homeone {
  

  width: 510px;
  height: 337px;
padding-left: 20px;
}
.contenrnertw {
  width: 510px;
  height: 337px;
  padding-left: 80px;
  
}

.contenrnertw h1 {
color: #fff;
font-size: 32px;
padding: 16px 0px;
}
.contenrnertw p {
color: #fff;
font-size: 16px;
padding-bottom: 24px;
}
.contenrnertr {
  width: 510px;
  height: 337px;
  padding-left: 80px;
}

.contenrnertr h1 {
color: #fff;
padding: 16px 0px;
font-size: 32px;
}
.contenrnertr p {
color: #fff;
padding-bottom: 12px;
font-size: 16px;
}

  

